button,
a {
    cursor: pointer;
}

button {
    background: none;
}

body {
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    letter-spacing: 0;
}

.page {
    width: 393px;
    height: 852px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
    outline: 2px solid var(--main);
    outline-offset: 2px;
}

::-webkit-scrollbar {
    display: none;
}

.none {
    display: none !important;
}