button,
a {
    cursor: pointer;
}

button {
    background: none;
}

html {
    color: var(--text);
    font-size: 15px;
    line-height: 1;
    font-weight: 500;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    scrollbar-width: none;
}

body {
    min-width: 320px;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: #404040;
    letter-spacing: 0;
}

.page {
    width: 100%;
    max-width: 440px;
    min-height: 100vh;
    min-height: 100dvh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
    outline: 2px solid var(--main);
    outline-offset: 2px;
}

::-webkit-scrollbar {
    display: none;
}

.none {
    display: none !important;
}