@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  --mainfont: "Pretendard Variable";

  --white: #FFFFFF;
  --main: #7455F7;

  --sub1: #D8D2FF;
  --bg: #EFEDFF;
  --bg2: #F7F7FF;
  --text: #212121;
}